body {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-size: 200%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  height: 100vh;
  text-shadow: 1px 1px 2px black;
  background-repeat: no-repeat;
}

.comicTitle {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}

#comicSiteName {
  font-size: 2em;
  color: white;
  text-shadow: 1px 1px 2px black;
}

h1 {
  font-size: 4em;
}

a, .btn {
  color: white;
  text-shadow: 1px 1px 2px black;
}

